html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
}

.robot {
  display: flex;
  justify-content: center;
  padding-top: 4em;
}

.robot-body {
  width: 320px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 35%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: relative;
}

.robot-head-left {
  left: 50%;
  top: 60%;
  transform: translate(-228%, -32%);
}

.robot-head-right {
  left: 50%;
  top: 60%;
  transform: translate(-28%, -32%);
}

.robot:hover {
  top: -10%;
}

@media (min-width: 61em) {

  .robot-head-left {
    left: 50%;
    top: 60%;
    transform: translate(-492%, -32%);
  }

  .robot-head-right {
    left: 50%;
    top: 60%;
    transform: translate(-292%, -32%);
  }

}
